/* Hamburger */
.container {
  display: inline-block;
  cursor: pointer;
  margin-top: 60px;
  margin-right: 160px;
  padding: 10px;
}

.bar1, .bar2, .bar3 {
  width: 23px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Top bar */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo img {
  width: 70%;
  margin-left: 140px;
}

/* Hero Section */
.pink {
  background-color: #FEEAE9;
  display: flex;
  justify-content: space-between;
  margin: 40px 160px;
  border-radius: 10px;
  padding: 20px;
}

.bold h2 {
  font-size: 45px;
  margin-top: 30px;
}

.bold p {
  font-size: 17px;
}

.bold .dollar {
  color: #FF136F;
  font-size: 30px;
}

.bold .btn {
  background-color: #FF136F;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
}

.bold .btn:hover {
  background-color: #d40e5c;
  cursor: pointer;
}

.bold {
  margin-left: 60px;
}

.tv img {
  width: 80%;
}

/* Categories */


.second{
  font-size: 20px;
  margin-left: 160px;
  margin-top: 60px;
}


.category {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  margin-left: 170px;
}

.watch, .bag, .shoes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 278px;
  height: 80px;
  padding: 15px 20px;
  border-radius: 12px;
  color: white;
  font-size: 25px;
  font-weight: 500;
}


.watch {
  background-color: #FF9C35;
}

.bag {
  background-color: #FF136F;
}

.shoes {
  background-color: #3F07F8;
}


.watch img,
.bag img,
.shoes img {
  width: 60px;
  height: auto;
  object-fit: contain;
}

/* product */


.product-section{
  margin-top: 90px;
}

.product-section h2 {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 600;
  margin-left: 160px;
}

.product-container {
  display: flex;
  margin-left: 170px;
  gap: 20px;
  margin-top: 40px;
}

.product-card {
  width: 280px;
  background: white;
  border-radius: 12px;
  padding: 15px 15px 20px;
  text-align: center;
  border: 1px solid #929292;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 18px rgba(0,0,0,0.15);
}

.product-card img {
  width: 240px;
  height: auto;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.product-card p {
  font-size: 16px;
  color: #666;
  margin: 8px 6px;
}

.product-card .price {
  font-size: 17px;
  font-weight: 600;
  color: black;
  margin-top: 15px;
}

.buy-btn {
  margin-top: 10px;
  padding: 10px 18px;
  background: #111;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s;
}

.buy-btn:hover {
  background: #333;
}

/* bag */


.bag-section{
  margin-top: 90px;
}

.bag-section h2 {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 600;
  margin-left: 160px;
}

.bag-container{
  display: flex;
  margin-left: 170px;
  gap: 20px;
  margin-top: 40px;
}

.bag-card {
  width: 280px;
  background: white;
  border-radius: 12px;
  padding: 15px 15px 20px;
  text-align: center;
  border: 1px solid #929292;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.bag-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 18px rgba(0,0,0,0.15);
}

.bag-card img {
  width: 240px;
  height: auto;
  margin-bottom: 15px;
}

.bag-card h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.bag-card p {
  font-size: 16px;
  color: #666;
  margin: 8px 6px;
}

.bag-card .price {
  font-size: 17px;
  font-weight: 600;
  color: black;
  margin-top: 15px;
}

.newsletter {
  background: #FFF2F1;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 170px;
  margin-top: 60px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.newsletter-container {
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.newsletter-container h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}

.newsletter-container p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #555;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-form input {
  width: 70%;
  padding: 12px 15px;
  border: 1px solid #eee;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-size: 14px;
}

.newsletter-form button {
  padding: 12px 20px;
  border: none;
  background: linear-gradient(to right, #ff4b76, #ff2daa);
  color: white;
  cursor: pointer;
  font-size: 14px;
  border-radius: 0 4px 4px 0;
}


/* Responsive */
@media (max-width: 768px) {
  .pink {
    flex-direction: column;
    text-align: center;
    margin: 10px;
  }

  .bold {
    margin-left: 0;
  }

  .category {
    flex-direction: column;
    align-items: center;
  }

  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .bag-container{
    flex-direction: column;
    align-items: center;
  }

   .newsletter-form {
    flex-direction: column;
    width: 90%;
  }

  .newsletter-form input {
    width: 80%;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .newsletter-form button {
    width: 60%;
    border-radius: 4px;
  }
}
